.ncontainer{
    background-color: #50075027;
    width: 100%;
  }
  .nbox{
    width: 100%;
    margin: auto;
  }
  
  .nbox>h2{
    text-align: center;
    color: black;
    margin: 20px;
    padding: 50px;
  }
  
  .nbox .column>h3, a {
    color: black;
    padding: 10px;
  } 
  
  .nbox .row{
    display: flex;
    padding: 20PX;
  }
  
  .nbox .column{
    width: 50%;
    height: auto;
    text-align: center;
    position: relative;
    border: 1px solid rgba(37, 0, 48, 0.582);
    background-color: #500750;
    box-shadow: 0px 8px 16px 1px rgba(37, 0, 48, 0.582);
  }
  .nbox .column:hover{
    cursor: pointer;
    width: 50%;
    height: auto;
    text-align: center;
    position: relative;
    border: 1px solid white;
    background-color: white;
    box-shadow: 2px 8px 10px 0px rgba(37, 0, 48, 0.582);
    font-size: x-large;
  }
